.projects-container {
  max-width: 1040px;
  margin-inline: auto;
}

main {
  padding-inline: 164px;
  background-color: var(--gray-200);
  padding-bottom: 144px;
}

main p:first-child {
  color: var(--red);
  text-align: center;
  padding-top: 72px;
  font: var(--subtitle);
}

main h2 {
  text-align: center;
  font: var(--title-md);
  margin: 8px auto 56px auto;
}

.card {
  background-color: var(--gray-300);
  border-radius: 12px;
  padding: 20px 16px 20px 16px;
  width: 330px;
  height: 280px;
}

.card img {
  border-radius: 8px;
}

.card h3 {
  margin-top: 20px;
  font: var(--title-sm);
}

.card p {
  font: var(--text-sm);
}

.services {
  background-color: var(--gray-100);
  padding: 88px 239px 120px 239px;
}

.services p:first-child {
  font: var(--subtitle);
  text-align: center;
  color: var(--red);
  margin-bottom: 8px;
}

.services h2 {
  text-align: center;
  font: var(--title-md);
  margin-bottom: 56px;
}

.services-container {
  max-width: 888px;
  margin: auto;
}

.card-service {
  box-sizing: border-box;
  width: 280px;
  height: 155px;
  padding: 20px;
  border: 2px solid var(--gray-200);
  border-radius: 12px;
}

.card-service h3 {
  margin-top: 12px;
  margin-bottom: 8px;
}

.dev-ops {
  white-space: nowrap;
}